﻿@{

}

@section Heads {
  <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
}

<!-- Page Heading -->
<div class="d-flex flex-row justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Hose Delivery List</h1>
  <div>
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="/HoseDelivery/Summary" class="nav-link">Summary</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">List</a>
      </li>
    </ul>
  </div>
</div>

@using (Html.BeginForm())
{
<div id="toolbar">
  <button id="refresh" type="submit" class="@FormControlButtonSuccess">
    <span class="icon text-white-50"><em class="fas fa-check"></em></span>
    <span class="text">Submit</span>
  </button>
  <a id="export" href="/HoseDelivery/Export" class="@FormControlButtonPrimary">
    <span class="icon text-white-50"><em class="fas fa-file-csv"></em></span>
    <span class="text">Export</span>
  </a>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">Start Date :</label>
        @Html.TextBox("start", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">End Date :</label>
        @Html.TextBox("end", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
    </div>

    <div class="table-responsive">
      <table id="dtTable" data-toggle="table" data-thead-classes="bg-info text-white"
             data-pagination="true" data-search="true" data-side-pagination="server"
             data-url='@Url.Action("GetData", "HoseDelivery")'
             data-defer-url='@Url.Action("GetData", "HoseDelivery")'
             data-toolbar="#toolbar">
        <thead>
          <tr>
            <th colspan="10" class="text-center">Total Site : <span id="lblSite">0</span> SPBU</th>
          </tr>
          <tr>
            <th data-formatter="IndexFormatter">No.</th>
            <th data-field="siteId">Site Id</th>
            <th data-field="deliveryDate" data-formatter="ShortDateFormatter" data-align="center">Delivery Date</th>
            <th data-field="materialNumber">Mat. Number</th>
            <th data-field="gradeName">Product</th>
            <th data-field="totalPrePurchaseDelivery" data-formatter="NumberFormatter" data-align="right">Pre Purchase</th>
            <th data-field="totalDelivery" data-formatter="NumberFormatter" data-align="right">Total Del.</th>
            <th data-field="perfPrePurchase" data-formatter="NumberFormatter2" data-align="right" data-sortable="true">Perf (%)</th>
            <th data-field="createdDate" data-formatter="DateFormatter">Created Date</th>
            <th data-field="updateDate" data-formatter="DateFormatter">Last Update</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
}
@section Scripts {
  <script src="~/js/moment.js"></script>
  <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#liHoseDelivery").addClass("active");

      $("#export").click(function () { blockIt(); });

      $('#dtTable').on('load-success.bs.table', function (data, status, jqXHR) {
        $('#lblSite').text(status.totalSite);
      });
    });
  </script>
}
