﻿@{

}

@section Heads {
<link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
  
<style type="text/css">
  #dtTable tbody tr:last-child {
    font-weight: bold;
    background-color: #d9534f;
    color: white;
  }

  #dtTableClassification tbody tr:last-child {
    font-weight: bold;
    background-color: #d9534f;
    color: white;
  }
</style>
}

<!-- Page Heading -->
<div class="d-flex flex-row justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Hose Delivery Summary</h1>
  <div>
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="#" class="nav-link active">Summary</a>
      </li>
      <li class="nav-item">
        <a href="/HoseDelivery" class="nav-link">List</a>
      </li>
    </ul>
  </div>
</div>

@using (Html.BeginForm())
{
<div id="toolbar">
  <button id="refresh" type="submit" class="@FormControlButtonSuccess">
    <span class="icon text-white-50"><em class="fas fa-check"></em></span>
    <span class="text">Submit</span>
  </button>
  <a id="export" href="/HoseDelivery/SummaryExport" class="@FormControlButtonPrimary">
    <span class="icon text-white-50"><em class="fas fa-file-csv"></em></span>
    <span class="text">Export</span>
  </a>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">Start Date :</label>
        @Html.TextBox("start", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">End Date :</label>
        @Html.TextBox("end", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
    </div>

    <div class="table-responsive">
      <table id="dtTable" data-toggle="table" data-thead-classes="bg-info text-white"
             data-pagination="false"
             data-url='@Url.Action("GetSummaryData", "HoseDelivery")'
             data-defer-url='@Url.Action("GetSummaryData", "HoseDelivery")'
             data-toolbar="#toolbar">
        <thead>
          <tr>
            <th data-field="mor" rowspan="2">MOR</th>
            <th data-field="totalSite12" data-formatter="NumberFormatter" data-align="right" rowspan="2">Total SPBU</th>
            <th colspan="3" data-align="center">BIO SOLAR</th>
          </tr>
          <tr>
            <th data-field="totalPrePurchase12" data-formatter="NumberFormatter" data-align="right">Transaksi Prepurchase</th>
            <th data-field="totalDelivery12" data-formatter="NumberFormatter" data-align="right">Total Transaksi</th>
            <th data-field="perfPrePurchase12" data-formatter="NumberFormatter" data-align="right">Perf (%)</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="m-3"></div>
    <div class="table-responsive">
      <table id="dtTableClassification" data-toggle="table" data-thead-classes="bg-info text-white"
             data-pagination="false"
             data-url='@Url.Action("GetSummaryClassificationData", "HoseDelivery")'
             data-defer-url='@Url.Action("GetSummaryClassificationData", "HoseDelivery")'>
        <thead>
          <tr>
            <th data-field="display" data-align="center" rowspan="2">KLASIFIKASI</th>
            <th colspan="9" data-align="center">JUMLAH SPBU</th>
          </tr>
          <tr>
            <th data-field="mor_1_12" data-formatter="NumberFormatter" data-align="right">MOR 1</th>
            <th data-field="mor_2_12" data-formatter="NumberFormatter" data-align="right">MOR 2</th>
            <th data-field="mor_3_12" data-formatter="NumberFormatter" data-align="right">MOR 3</th>
            <th data-field="mor_4_12" data-formatter="NumberFormatter" data-align="right">MOR 4</th>
            <th data-field="mor_5_12" data-formatter="NumberFormatter" data-align="right">MOR 5</th>
            <th data-field="mor_6_12" data-formatter="NumberFormatter" data-align="right">MOR 6</th>
            <th data-field="mor_7_12" data-formatter="NumberFormatter" data-align="right">MOR 7</th>
            <th data-field="mor_8_12" data-formatter="NumberFormatter" data-align="right">MOR 8</th>
            <th data-field="total_12" data-formatter="NumberFormatter" data-align="right">TOTAL</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
}
@section Scripts {
  <script src="~/js/moment.js"></script>
  <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#liHoseDelivery").addClass("active");

      $("#export").click(function () { blockIt(); });
    });
  </script>
}
