﻿@model TDMS.Portal.Models.Region
@{
  if (getRole(Context.Session.GetInt32("user_role")) != TDMS.Portal.Models.User.RoleEnum.Administrator)
  {
    Context.Response.Redirect("/Home");
  }
  var isUpdate = !string.IsNullOrEmpty(Model.RegionName);
}
<!-- Page Heading -->
<div class="d-flex flex-row mb-4">
  <h1 class="h3 mb-0 text-gray-800">Region Forms</h1>
</div>

@using (Html.BeginForm("Index", "Region", FormMethod.Post))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <!-- Content Row -->
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <label for="Id" class="col-sm-2 col-form-label">Id : </label>
        @Html.TextBoxFor(m => m.RegionId, getAttrs(isUpdate, true, FormControlCol))
      </div>

      <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name : </label>
        @Html.TextBoxFor(m => m.RegionName, getAttrs(false, true, FormControlCol))
      </div>

      <div class="form-group row">
        <label for="Number" class="col-sm-2 col-form-label">Number : </label>
        @Html.TextBoxFor(m => m.RegionNumber, getAttrs(false, true, FormControlNumberCol))
      </div>
    </div>

    <div class="card-footer">
      <button name="cmd" value="@(isUpdate ? "Update" : "Insert")" class="@FormControlButtonSuccess">
        <span class="icon text-white-50"><em class="fas fa-save"></em></span>
        <span class="text">Save</span>
      </button>
      <button name="cmd" value="Delete" class="@FormControlButtonDanger" @(isUpdate ? "" : "disabled")>
        <span class="icon text-white-50"><em class="fas fa-cut"></em></span>
        <span class="text">Delete</span>
      </button>
      <a href="/Region" class="@FormControlButtonDark">
        <span class="icon text-white-50"><em class="fas fa-times"></em></span>
        <span class="text">Cancel</span>
      </a>
    </div>
  </div>
}

@section Scripts {
  <script>
    $(document).ready(function () {
      $("#liRegion").addClass("active");
    });
  </script>
}


