﻿@model TDMS.Portal.Models.User
@{
  string user_id = Context.Session.GetString("user_id");
  if (!string.IsNullOrEmpty(user_id))
  {
    Context.Response.Redirect("/Home/Index");
  }

  Layout = "";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>@TDMS.Portal.Helper.Title</title>

  <link rel="icon" href="~/img/favicon.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="~/lib/font-awsome/css/all.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  
</head>
<body class="bg-gradient-primary">
  <partial name="_StatusMessages" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                {
                  @Html.AntiForgeryToken()
                  @Html.ValidationSummary(true)
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Welcome to Tank Delivery Monitoring System</h1>
                    </div>
                    <div class="form-group">
                      @Html.TextBoxFor(m => m.UserId, new { placeholder = "User Id", @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                      @Html.PasswordFor(m => m.Password, new { placeholder = "Password", @class = "form-control", required = "required" })
                    </div>
                    <button name="btnLogin" type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/js/site.js"></script>
</body>
</html>
