﻿@{
  if (getRole(Context.Session.GetInt32("user_role")) != TDMS.Portal.Models.User.RoleEnum.Administrator)
  {
    Context.Response.Redirect("/Home");
  }
}

<!-- Page Heading -->
<div class="d-flex flex-row mb-4">
  <h1 class="h3 mb-0 text-gray-800">User List</h1>
</div>

<div id="toolbar">
  <a href="/User/Modify" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50"><em class="fas fa-pencil-alt"></em></span>
    <span class="text">Add</span>
  </a>
</div>

<div class="card mb-4">
  <div class="card-body">
    <table id="dtTable" data-toggle="table" data-thead-classes="bg-info text-white"
      data-pagination="true" data-search="true" data-side-pagination="server" 
      data-url='@Url.Action("GetData","User")' data-defer-url='@Url.Action("GetData","User")'
      data-toolbar="#toolbar">
      <thead>
        <tr>
          <th data-formatter="IndexFormatter">No.</th>
          <th data-field="userId">User Id</th>
          <th data-field="userName">Name</th>
          <th data-field="password">Password</th>
          <th data-field="role" data-formatter="roleFormat">Role</th>
          <th data-field="accessName">Access</th>
          <th data-formatter="actionFormat" data-align="center"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

@section Scripts {
  <script>
    function roleFormat(value, row) {
      var roleEnum = ["Transportir", "Depot", "Region", "Super_User", "Administrator"];
      var idx = value - 1;
      if (value == 9)
        idx = 4;
      else if (value == 8)
        idx = 3;

      return roleEnum[idx];
    }

    function actionFormat(value, row) {
      return '<a href="/User/Modify/' + row.userId + '" title="Modify" class="btn btn-success btn-circle btn-sm">' +
        '<i class="fa fa-edit"></i></a>';
    }

    $(document).ready(function () {
      $("#liUser").addClass("active");
    });
  </script>
}
