﻿@model TDMS.Portal.Models.User
@{
  var role = Context.Session.GetInt32("user_role");
  if (!(role == 10 || role == 9))
  {
    Context.Response.Redirect("/Home");
  }

  var isUpdate = !string.IsNullOrEmpty(Model.UserName);
}
<!-- Page Heading -->
<div class="d-flex flex-row mb-4">
  <h1 class="h3 mb-0 text-gray-800">User Forms</h1>
</div>

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <!-- Content Row -->
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <label for="Id" class="col-sm-2 col-form-label">Id : </label>
        @Html.TextBoxFor(m => m.UserId, getAttrs(isUpdate, true, FormControlCol))
      </div>

      <div class="form-group row">
        <label for="Name" class="col-sm-2 col-form-label">Name : </label>
        @Html.TextBoxFor(m => m.UserName, getAttrs(false, true, FormControlCol))
      </div>

      <div class="form-group row">
        <label for="Password" class="col-sm-2 col-form-label">Password : </label>
        @Html.TextBoxFor(m => m.Password, getAttrs(false, true, FormControlCol))
      </div>

      <div class="form-group row">
        <label for="Role" class="col-sm-2 col-form-label text-nowrap">Role : </label>
        @Html.DropDownListFor(m => m.Role,
          new SelectList(Enum.GetValues(typeof(TDMS.Portal.Models.User.RoleEnum))),
          null, getAttrs("cbRole", false, true, FormControlSelectCol))
      </div>

      <div id="divAccess" class="form-group row d-none">
        <label id="lblAccess" for="AccessId" class="col-sm-2 col-form-label"></label>
        @Html.DropDownListFor(m => m.AccessId,
          new SelectList(new List<DropDownListItem>(), "value", "text"),
          "- Select -", getAttrs("cbAccess", false, false, FormControlSelectCol))
      </div>
    </div>

    <div class="card-footer">
      <button name="cmd" value="@(isUpdate ? "Update" : "Insert")" class="@FormControlButtonSuccess">
        <span class="icon text-white-50"><em class="fas fa-save"></em></span>
        <span class="text">Save</span>
      </button>
      @{
        if (role != 10)
        {
          <button name="cmd" value="Delete" class="@FormControlButtonDanger" @(isUpdate ? "" : "disabled")>
            <span class="icon text-white-50"><em class="fas fa-cut"></em></span>
            <span class="text">Delete</span>
          </button>
          <a href="/User" class="@FormControlButtonDark">
            <span class="icon text-white-50"><em class="fas fa-times"></em></span>
            <span class="text">Cancel</span>
          </a>
        }
      }
    </div>
  </div>
}

@section Scripts {
  <script>
    function getAccess(value) {
      var divAccess = $("#divAccess");
      var cbRole = $("#cbRole");
      var cbAccess = $("#cbAccess");

      $("#lblAccess").text(value + " :");

      if (value == "Administrator" || value == "Super_User") {
        divAccess.addClass('d-none');
        cbAccess.attr('required', false);
      }
      else {
        divAccess.removeClass('d-none');
        cbAccess.attr('required', true);
      }

      cbAccess.empty();
      $("<option />", {
        val: '',
        text: '- Select -'
      }).appendTo(cbAccess);
      
      $.ajax({
        type: "GET",
        url: "/User/GetAccessList",
        data: { mode : value, Id:'@Model.AccessId' },
        success: function (data) {
          $(data).each(function () {
            $("<option />", {
              val: this.value,
              text: this.text
            }).appendTo(cbAccess);
          });
        },
      });
    }

    $(document).ready(function () {
      $("#liUser").addClass("active");

      getAccess($("#cbRole").val());

      if (@role == 10) {
        $("#cbRole option:not(:last)").remove();
      }

      $("#cbRole").on("change", function () {
        getAccess($(this).val());
      });
    });
  </script>
}


