﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@{
  var disp_menu = Context.Session.GetInt32("user_role") != 9 ? "d-none" : "";
  var disp_line_menu = Context.Session.GetInt32("user_role") == 9 ? "d-md-block" : "";

  var user_id = Context.Session.GetString("user_id");
  if (string.IsNullOrEmpty(user_id))
  {
    Context.Response.Redirect("/Login");
  }
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>@TDMS.Portal.Helper.Title</title>

  <link rel="icon" href="~/img/favicon.png">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="~/lib/font-awsome/css/all.css" />
  <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css">
  <link rel="stylesheet" href="~/css/site.css" />

  @RenderSection("Heads", required: false)

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body id="page-top">
  @await Html.PartialAsync("_StatusMessages")

  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul id="accordionSidebar" class="navbar-nav bg-gradient-primary sidebar toggled sidebar-dark accordion">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon rotate-n-15">
          <em class="fas fa-gas-pump"></em>
        </div>
        <div class="sidebar-brand-text mx-3">T D M S</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <li id="liDashboard" class="nav-item">
        <a class="nav-link" href="/Home">
          <em class="fas fa-fw fa-tachometer-alt"></em>
          <span>Dashboard</span>
        </a>
      </li>

      <li id="liTankDelivery" class="nav-item">
        <a class="nav-link" href="/TankDelivery/Summary">
          <em class="fas fa-fw fa-list-alt"></em>
          <span>Tank Delivery</span>
        </a>
      </li>

      <li class="nav-item">
        <div id="liHoseDelivery" class="nav-item">
          <a class="nav-link" href="/HoseDelivery/Summary">
            <em class="fas fa-fw fa-gas-pump"></em>
            <span>Hose Delivery</span>
          </a>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none @disp_line_menu">

      <li id="liRegion" class="nav-item @disp_menu">
        <a class="nav-link" href="/Region">
          <em class="fas fa-fw fa-globe"></em>
          <span>Region</span>
        </a>
      </li>

      <li id="liSupplyPoint" class="nav-item @disp_menu">
        <a class="nav-link" href="/SupplyPoint">
          <em class="fas fa-fw fa-map-marked-alt"></em>
          <span>Depot</span>
        </a>
      </li>

      <li id="liSupplier" class="nav-item @disp_menu">
        <a class="nav-link" href="/Supplier">
          <em class="fas fa-fw fa-truck-moving"></em>
          <span>Transportir</span>
        </a>
      </li>

      <li id="liProduct" class="nav-item @disp_menu">
        <a class="nav-link" href="/Product">
          <em class="fas fa-fw fa-oil-can"></em>
          <span>Product</span>
        </a>
      </li>

      <li id="liUser" class="nav-item @disp_menu">
        <a class="nav-link" href="/User">
          <em class="fas fa-fw fa-user"></em>
          <span>User</span>
        </a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline mt-2">
        <button class="rounded-circle border-0" id="sidebarToggle" />
      </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" onclick="return false;">
            <em class="fa fa-bars"></em>
          </button>

          <h5 class="text-gray-600 row">
            <img src="~/img/logo.png" alt="Logo MyPertamina" class="col-auto" />
            <div class="col-*">
              <span class="desktop">Tank Delivery Monitoring System [TDMS]</span>
              <span class="mobile">T D M S</span>
            </div>
          </h5>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Context.Session.GetString("user_name")</span>
                <img class="img-profile rounded-circle" src="~/img/user.png">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <div class="dropdown-item-text">
                  Role :<br /><span class="pl-2">@Context.Session.GetString("user_role_str")</span>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Home/ChangePassword">
                  <em class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></em>
                  Change Password
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <em class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></em>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          @RenderBody()
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; PERTAMINA - 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->
  <!-- Logout Modal PopUp -->
  <div id="logoutModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header"><h4>Logout <em class="fa fa-lock"></em></h4></div>
        <div class="modal-body"><em class="fa fa-question-circle"></em> Are you sure you want to log-off?</div>
        <div class="modal-footer"><a href="~/Home/Logout" class="btn btn-primary btn-block">Logout</a></div>
      </div>
    </div>
  </div>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <em class="fas fa-angle-up"></em>
  </a>

  <script src="~/lib/jquery/dist/jquery.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/lib/blockUI/jquery.blockUI.js"></script>
  <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
  <script src="~/lib/bootstrap-table/dist/extensions/defer-url/bootstrap-table-defer-url.js"></script>
  <script src="~/js/site.js"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
