﻿@{
  if (getRole(Context.Session.GetInt32("user_role")) != TDMS.Portal.Models.User.RoleEnum.Administrator)
  {
    Context.Response.Redirect("/Home");
  }
}

<!-- Page Heading -->
<div class="d-flex flex-row mb-4">
  <h1 class="h3 mb-0 text-gray-800">Transportir List</h1>
</div>

<div id="toolbar">
  <a href="/Supplier/Modify" class="btn btn-primary btn-icon-split">
    <span class="icon text-white-50"><em class="fas fa-pencil-alt"></em></span>
    <span class="text">Add</span>
  </a>
</div>

<div class="card mb-4">
  <div class="card-body">
    <table id="dtTable" data-toggle="table" data-thead-classes="bg-info text-white"
           data-pagination="true" data-search="true" data-side-pagination="server" 
           data-url='@Url.Action("GetData","Supplier")' data-defer-url='@Url.Action("GetData","Supplier")'
           data-toolbar="#toolbar">
      <thead>
        <tr>
          <th data-formatter="IndexFormatter">No.</th>
          <th data-field="supplierId">Transportir Id</th>
          <th data-field="supplierName">Name</th>
          <th data-field="supplierAltName">Alternate Name</th>
          <th data-formatter="actionFormat" data-align="center"></th>
        </tr>
      </thead>
    </table>
  </div>
</div>

@section Scripts {
  <script>
    function actionFormat(value, row) {
      return '<a href="/Supplier/Modify/' + row.supplierId + '" title="Modify" class="btn btn-success btn-circle btn-sm">' +
        '<i class="fa fa-edit"></i></a>';
    }

    $(document).ready(function () {
      $("#liSupplier").addClass("active");
    });
  </script>
}
