﻿@model TDMS.Portal.Models.ChangePassword
@{
}

<!-- Page Heading -->
<div class="d-flex flex-row mb-4">
  <h1 class="h3 mb-0 text-gray-800">Change Password</h1>
</div>

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)

  <!-- Content Row -->
  <div class="card">
    <div class="card-body">
      <div class="form-group row">
        <label for="OldPassword" class="col-sm-3 col-form-label">Old Password : </label>
        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control col", @required = "required", @value = Model.OldPassword })
      </div>

      <div class="form-group row">
        <label for="NewPassword" class="col-sm-3 col-form-label">New Password : </label>
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control col", @required = "required", @value = Model.NewPassword })
      </div>

      <div class="form-group row">
        <label for="ConfirmPassword" class="col-sm-3 col-form-label">Confirm New Password : </label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col", @required = "required", @value = Model.ConfirmPassword })
      </div>
    </div>

    <div class="card-footer">
      <button name="cmd" value="Save" class="@FormControlButtonSuccess">
        <span class="icon text-white-50"><em class="fas fa-save"></em></span>
        <span class="text">Save</span>
      </button>
      <a href="/Dashboard" class="@FormControlButtonDark">
        <span class="icon text-white-50"><em class="fas fa-times"></em></span>
        <span class="text">Cancel</span>
      </a>
    </div>
  </div>
}

@section Scripts {
  <script>
    $(document).ready(function () {
      $("#liDashboard").addClass("active");
    });
  </script>
}