﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>@TDMS.Portal.Helper.Title</title>

  <link rel="icon" href="~/img/favicon.png">
</head>
<body>
  <h1 style="color: #dc3545 !important;">Error.</h1>
  <h2 style="color: #dc3545 !important;">An error occurred while processing your request.</h2>
</body>
</html>
