﻿@{
}

@section Heads {
  <link rel="stylesheet" href="~/lib/chart.js/dist/Chart.css" />
}

<!-- Page Heading -->
<div class="d-flex flex-row align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  <div>@DateTime.Now.ToString("dd MMMM yyyy")</div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <canvas id="chartDelivery"></canvas>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/lib/chart.js/dist/Chart.js"></script>

  <script>
    $(document).ready(function () {
      $("#liDashboard").addClass("active");

      $.ajax({
        url: "/Home/GetWeeklyGraphData?startDate",
        method: "GET",
        cache: false,
        success: function (data) {
          var label = [];
          var value = [];
          for (var i in data.rows) {
            label.push(data.rows[i].label);
            value.push(data.rows[i].value);
          }
          var ctx = document.getElementById('chartDelivery');
          var chart = new Chart(ctx, {
            type: 'bar',
            data: {
              labels: label,
              datasets: [{
                label: 'Total Tank Delivery (KL)',
                backgroundColor: 'rgb(252, 116, 101)',
                borderColor: 'rgb(0, 0, 0)',
                data: value
              }]
            },
            options: {
              responsive: true,
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    callback: function (value, index, values) {
                      return formatNString(value);
                    }
                  }
                }]
              },
              tooltips: {
                callbacks: {
                  label: function (tooltipItem, chart) {
                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                    return datasetLabel + ': ' + formatNString(tooltipItem.yLabel, 2);
                  }
                }
              }
            }
          });
        }
      });
    });
  </script>
}

