﻿@{
  var role = Context.Session.GetInt32("user_role");
  var filter = Context.Session.GetString("user_access") ?? "";
}

@section Heads {
  <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
}

<!-- Page Heading -->
<div class="d-flex flex-row justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Tank Delivery List</h1>
  <div>
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="/TankDelivery/Summary" class="nav-link">Summary</a>
      </li>
      <li class="nav-item">
        <a href="/TankDelivery/SummaryBySite" class="nav-link">Summary by SPBU</a>
      </li>
      <li class="nav-item">
        <a href="/TankDelivery/ListBySite" class="nav-link">SPBU List</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">List</a>
      </li>
    </ul>
  </div>
</div>

@using (Html.BeginForm())
{
<div id="toolbar">
  <button id="refresh" type="submit" class="@FormControlButtonSuccess">
    <span class="icon text-white-50"><em class="fas fa-check"></em></span>
    <span class="text">Submit</span>
  </button>
  <a id="export" href="/TankDelivery/Export" class="@FormControlButtonPrimary">
    <span class="icon text-white-50"><em class="fas fa-file-csv"></em></span>
    <span class="text">Export</span>
  </a>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">Start Date :</label>
        @Html.TextBox("start", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">End Date :</label>
        @Html.TextBox("end", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
      @if (role >= 3)
      {
        <div class="form-group col-md-2 col-sm-6">
          <label class="col-form-label">Region :</label>
          @if (role == 3) //User Region
          {
            TempData["region"] = filter;
            @Html.DropDownList("region",
              new SelectList(RegionContext.GetAllItems().Where(x => x.RegionId == filter).ToList(), "RegionId", "RegionName"),
              null, getAttrs("cbRegion", false, false, FormControlSelectCol))
          }
          else
          {
            @Html.DropDownList("region",
              new SelectList(RegionContext.GetAllItems(), "RegionId", "RegionName"),
              "All Region", getAttrs("cbRegion", false, false, FormControlSelectCol))
          }
        </div>
      }
      @if (role >= 2)
      {
        <div class="form-group col-md-2 col-sm-6">
          <label class="col-form-label">Depot :</label>
          @if (role == 2) //User Depot
          {
            TempData["supplyPoint"] = filter;
            @Html.DropDownList("supplyPoint",
              new SelectList(SupplyPointContext.GetAllItems().Where(x => x.SupplyPointId == filter).ToList(), "SupplyPointId", "SupplyPointName"),
              null, getAttrs("cbSupplyPoint", false, false, FormControlSelectCol))
          }
          else
          {
            @Html.DropDownList("supplyPoint",
              new SelectList(SupplyPointContext.GetAllItems(TempData.Peek("region")?.ToString() ?? ""), "SupplyPointId", "SupplyPointName"),
              "All Depot", getAttrs("cbSupplyPoint", false, false, FormControlSelectCol))
          }
        </div>
      }
      @if (role >= 1)
      {
        <div class="form-group col-md-4 col-sm-6">
          <label class="col-form-label">Trasportir :</label>
          @if (role == 1) // User Transportir
          {
            TempData["supplier"] = filter;
            @Html.DropDownList("supplier",
              new SelectList(SupplierContext.GetAllItems().Where(x => x.SupplierId == filter).ToList(), "SupplierId", "SupplierName"),
              null, getAttrs("cbSupplier", false, false, FormControlSelectCol))
          }
          else
          {
            @Html.DropDownList("supplier",
              new SelectList(SupplierContext.GetAllItems(), "SupplierId", "SupplierName"),
              "All Transportir", getAttrs("cbSupplier", false, false, FormControlSelectCol))
          }
        </div>
      }
    </div>

    <div class="table-responsive">
      <table id="dtTable" data-toggle="table" data-thead-classes="bg-info text-white"
             data-pagination="true" data-search="true" data-side-pagination="server"
             data-url='@Url.Action("GetData", "TankDelivery")'
             data-defer-url='@Url.Action("GetData", "TankDelivery")'
             data-toolbar="#toolbar">
        <thead>
          <tr>
            <th colspan="11" class="text-center">Total Site : <span id="lblSite">0</span> SPBU</th>
          </tr>
          <tr>
            <th data-formatter="IndexFormatter">No.</th>
            <th data-field="siteId">Site Id</th>
            <th data-field="deliveryNoteNum">Depot</th>
            <th data-field="deliveryDetail">Transportir</th>
            <th data-field="dropDateTime" data-formatter="DateFormatter">Delivery Date</th>
            <th data-field="originalInvoiceNumber">DO Number</th>
            <th data-field="tankerIdCode">Plat No.</th>
            <th data-field="gradeName">Product</th>
            <th data-field="dispatchedVolume" data-formatter="NumberFormatter" data-align="right">DO Vol. (L)</th>
            <th data-field="diffVolume" data-formatter="NumberFormatter" data-align="right" data-sortable="true">Diff (L)</th>
            <th data-field="odiSyncDate" data-formatter="DateYNFormatter" data-align="center">Sync</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
}
  @section Scripts {
    <script src="~/js/moment.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

    <script>
      function DateYNFormatter(value, row, index) {
        if (moment(value).format('YYYY-MM-DD') != '0001-01-01') {
          return "<img src='img/check.png' alt='Yes' />"
        }
        else {
          return ""
        }
      }

      $(document).ready(function () {
        $("#liTankDelivery").addClass("active");

        $("#export").click(function () { blockIt(); });

        $('#cbRegion').change(function () {
          var selectRegion = $("#cbRegion").val();
          var supplyPointSelect = $('#cbSupplyPoint');

          supplyPointSelect.empty();
          supplyPointSelect.append($('<option/>', {
            value: "",
            text: "All Depot"
          }));

          if (selectRegion != null && selectRegion != '') {
            $.getJSON('@Url.Action("GetSupplyPoints", "SupplyPoint")', { regionId: selectRegion },
              function (supplyPoints) {
              if (supplyPoints != null && !jQuery.isEmptyObject(supplyPoints))
              {

                $.each(supplyPoints, function (index, supplyPoint) {
                  supplyPointSelect.append($('<option/>', {
                    value: supplyPoint.value,
                    text: supplyPoint.text
                  }));
                });
              };
            });
          }
        });

        $('#dtTable').on('load-success.bs.table', function (data, status, jqXHR) {
          $('#lblSite').text(status.totalSite);
        });
      });
    </script>
  }
