﻿@{

}

<!-- Page Heading -->
<div class="d-flex flex-row justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Tank Delivery SPBU List</h1>
  <div>
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="/TankDelivery/Summary" class="nav-link">Summary</a>
      </li>
      <li class="nav-item">
        <a href="/TankDelivery/SummaryBySite" class="nav-link">Summary by SPBU</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active">SPBU List</a>
      </li>
      <li class="nav-item">
        <a href="/TankDelivery" class="nav-link">List</a>
      </li>
    </ul>
  </div>
</div>

@using (Html.BeginForm())
{
<div id="toolbar">
  <a id="export" href="/TankDelivery/ListBySiteExport" class="@FormControlButtonPrimary">
    <span class="icon text-white-50"><em class="fas fa-file-csv"></em></span>
    <span class="text">Export</span>
  </a>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table id="dtTable" data-toggle="table" data-thead-classes="bg-info text-white"
             data-pagination="true" data-search="true" data-side-pagination="server"
             data-url='@Url.Action("GetListBySiteData", "TankDelivery")'
             data-defer-url='@Url.Action("GetListBySiteData", "TankDelivery")'
             data-toolbar="#toolbar">
        <thead>
          <tr>
            <th data-field="siteId">Site ID</th>
            <th data-field="createdDate" data-formatter="DateFormatter" data-align="center">Inserted Date</th>
            <th data-field="updateDate" data-formatter="DateFormatter" data-align="center">Updated Date</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="m-3"></div>
  </div>
</div>
}
@section Scripts {
  <script src="~/js/moment.js"></script>

  <script>
    $(document).ready(function () {
      $("#liTankDelivery").addClass("active");

      $("#export").click(function () { blockIt(); });
    });
  </script>
}
