﻿@{
  var prod = TempData.Peek("product")?.ToString() ?? "";

  DateTime startDT = DateTime.Today;
  try
  {
    if (TempData.Peek("start") != null)
      startDT = (DateTime)TempData.Peek("start");
  }
  catch { }

  DateTime endDT = startDT;
  try
  {
    if (TempData.Peek("end") != null)
      endDT = (DateTime)TempData?.Peek("end");
  }
  catch { }

  var data = TankDeliveryContext.GetSummaryItems(prod, startDT, endDT);
  var idxNasional = data.Count - 2;
  var idxPercent = data.Count - 1;

  var dataL = data[idxPercent].Loss_2 + data[idxPercent].Loss_1 +
     data[idxPercent].Loss_03 + data[idxPercent].Loss_015;
  var dataN = data[idxPercent].Loss_0 + data[idxPercent].Gain_0;
  var dataH = data[idxPercent].Gain_015 + data[idxPercent].Gain_03 +
    data[idxPercent].Gain_1 + data[idxPercent].Gain_2;
}

@section Heads {
  <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />  

  <style>
    .bgRed {
      font-weight: bold;
      background-color: #d9534f;
      color: white;
      text-align: right;
    }

    .bgBlue {
      font-weight: bold;
      background-color: #0275d8;
      color: white;
      text-align: right;
    }

    .bgGreen {
      font-weight: bold;
      background-color: #5cb85c;
      color: black;
      text-align: center;
    }

    .bgYellow {
      font-weight: bold;
      background-color: #f0ad4e;
      color: black;
      text-align: center;
    }
  </style>
}

<!-- Page Heading -->
<div class="d-flex flex-row justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Tank Delivery Summary</h1>
  <div>
    <ul class="nav nav-pills pull-right">
      <li class="nav-item">
        <a href="#" class="nav-link active">Summary</a>
      </li>
      <li class="nav-item">
        <a href="/TankDelivery/SummaryBySite" class="nav-link">Summary by SPBU</a>
      </li>
      <li class="nav-item">
        <a href="/TankDelivery/ListBySite" class="nav-link">SPBU List</a>
      </li>
      <li class="nav-item">
        <a href="/TankDelivery" class="nav-link">List</a>
      </li>
    </ul>
  </div>
</div>

@using (Html.BeginForm())
{
<div id="toolbar">
  <button id="refresh" type="submit" class="@FormControlButtonSuccess">
    <span class="icon text-white-50"><em class="fas fa-check"></em></span>
    <span class="text">Submit</span>
  </button>
  <a id="export" href="/TankDelivery/SummaryExport" class="@FormControlButtonPrimary">
    <span class="icon text-white-50"><em class="fas fa-file-csv"></em></span>
    <span class="text">Export</span>
  </a>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">Start Date :</label>
        @Html.TextBox("start", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
      <div class="form-group col-md-2 col-sm-6">
        <label class="col-form-label">End Date :</label>
        @Html.TextBox("end", null, new { @class = "form-control date", @readonly = "readonly", data_provide = "datepicker", data_date_format = "yyyy-mm-dd", data_date_today_highlight = "true" })
      </div>
      <div class="form-group col-md-2 col-sm-4">
        <label class="col-form-label">Product :</label>
        @Html.DropDownList("product",
              new SelectList(ProductContext.GetAllItems(), "ProductId", "ProductName"),
              "All Product", getAttrs("cbProduct", false, false, FormControlSelectCol))
      </div>
    </div>

    <div class="table-responsive">
      <table id="dtTable" data-toggle="table" data-thead-classes="bg-info text-white"
             data-pagination="false" data-toolbar="#toolbar">
        <thead>
          <tr>
            <th rowspan="2">MOR</th>
            <th rowspan="2">Total SPBU</th>
            <th rowspan="2">Jumlah Shipment<br />(Delivery)</th>
            <th data-align="center" colspan="5">Jumlah Shipment Losses</th>
            <th data-align="center" colspan="5">Jumlah Shipment Gain</th>
          </tr>
          <tr>
            <th>&lt; -2%</th>
            <th>-2% to -1%</th>
            <th>-1% to -0.3%</th>
            <th>-0.3% to -0.15%</th>
            <th>-0.15% to 0%</th>
            <th>0% to 0.15%</th>
            <th>0.15% to 0.3%</th>
            <th>0.3% to 1%</th>
            <th>1% to 2%</th>
            <th>&gt; 2%</th>
          </tr>
        </thead>
        <tbody>
          @if (data != null && data.Count > 0)
          {
            for (int i = 0; i < data.Count - 2; i++)
            {
              <tr>
                <td>@data[i].MOR</td>
                <td class="text-right">@data[i].TotalSite.ToString("N0")</td>
                <td class="text-right">@data[i].TotalDelivery.ToString("N0")</td>
                <td class="text-right">@data[i].Loss_2.ToString("N0")</td>
                <td class="text-right">@data[i].Loss_1.ToString("N0")</td>
                <td class="text-right">@data[i].Loss_03.ToString("N0")</td>
                <td class="text-right">@data[i].Loss_015.ToString("N0")</td>
                <td class="text-right">@data[i].Loss_0.ToString("N0")</td>
                <td class="text-right">@data[i].Gain_0.ToString("N0")</td>
                <td class="text-right">@data[i].Gain_015.ToString("N0")</td>
                <td class="text-right">@data[i].Gain_03.ToString("N0")</td>
                <td class="text-right">@data[i].Gain_1.ToString("N0")</td>
                <td class="text-right">@data[i].Gain_2.ToString("N0")</td>
              </tr>
            }

            <tr>
              <td class="bgRed text-left">NASIONAL</td>
              <td class="bgRed">@data[idxNasional].TotalSite.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].TotalDelivery.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Loss_2.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Loss_1.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Loss_03.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Loss_015.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Loss_0.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Gain_0.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Gain_015.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Gain_03.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Gain_1.ToString("N0")</td>
              <td class="bgRed">@data[idxNasional].Gain_2.ToString("N0")</td>
            </tr>

            <tr>
              <td colspan="3" class="bgBlue text-left">% per category shipment</td>
              <td class="bgBlue">@data[idxPercent].Loss_2.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Loss_1.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Loss_03.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Loss_015.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Loss_0.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Gain_0.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Gain_015.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Gain_03.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Gain_1.ToString("N2")%</td>
              <td class="bgBlue">@data[idxPercent].Gain_2.ToString("N2")%</td>
            </tr>

            <tr>
              <td colspan="3" class="bgBlue text-left">Tolerance</td>
              <td colspan="4" class="bgYellow">@dataL.ToString("N2")%</td>
              <td colspan="2" class="bgGreen">@dataN.ToString("N2")%</td>
              <td colspan="4" class="bgYellow">@dataH.ToString("N2")%</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="m-3"></div>
  </div>
</div>
}
@section Scripts {
  <script src="~/js/moment.js"></script>
  <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

  <script>
    $(document).ready(function () {
      $("#liTankDelivery").addClass("active");

      $("#export").click(function () { blockIt(); });
    });
  </script>
}
